<!-- news/templates/news/story.html -->

{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="">
{% endblock %}

{% block content %}

<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <h4>{{ story.author }}</h4>
    <div id="story-content">
        <img src="{{story.image_url}}">
        {{ story.content|linebreaks }}
    </div>
</div>
<!-- Display existing comments -->
<h2>Comments:</h2>
<ul>
    {% for comment in news_story.comment_set.all %}
        <li>{{ comment.author.username }}: {{ comment.comment }}</li>
    {% endfor %}
</ul>

<!-- Comment creation form -->
<h2>Add a comment:</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Comment</button>
</form>

{% endblock %}
